<div class="book-table__container">
  <app-date-range
    (selectDate)="updateDateRange($event)"
  ></app-date-range>

  <app-search
    (search)="updateSearchValue($event)"
    [books]="bookTable ? bookTable.filteredData : []"
  ></app-search>

  <mat-card-actions class="book__export book__buttons">
    <button
      class="book__button book__button--save"
      mat-button matTooltip="Save books to .xlsx"
      mat-button (click)="exportToExcel()">
        <mat-icon>cloud_download</mat-icon>
        .xlsx
    </button>
    <button
      class="book__button book__button--save"
      mat-button matTooltip="Save books to .pdf"
      mat-button (click)="exportToPdf()">
        <mat-icon>cloud_download</mat-icon>
        .pdf
    </button>
    <button
      class="book__button book__button--add"
      mat-button matTooltip="Create book"
      (click)="openDialog()">
        <mat-icon>add_box</mat-icon>
        Book
    </button>
  </mat-card-actions>

  <div class="book-table__wrapper">
    <table #table
      class="book-table"
      mat-table
      [dataSource]="bookTable"
      matSort
      multiTemplateDataRows
    >
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
        <td mat-cell *matCellDef="let row">{{ row.title }}</td>
      </ng-container>

      <!-- PageCount Column -->
      <ng-container matColumnDef="pageCount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>PageCount</th>
        <td mat-cell *matCellDef="let row">{{ row.pageCount }}</td>
      </ng-container>

      <!-- PublishDate Column-->
      <ng-container matColumnDef="publishDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>PublishDate</th>
        <td mat-cell *matCellDef="let row">
          {{ row.publishDate | date: "MM/dd/yyyy" }}
        </td>
      </ng-container>

      <!-- Edit Column-->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <mat-card-actions class="book__buttons">
            <mat-icon
              appClickStopPropagation
              *ngIf="hasBookCache(row)"
              class="book__button book__button--undo"
              matTooltip="Undo changes"
              (click)="undoLastEditBook(row)">undo</mat-icon>
            <mat-icon
              appClickStopPropagation
              class="book__button book__button--edit"
              matTooltip="Edit {{row.title}}"
              (click)="openDialog(row)">edit</mat-icon>
          </mat-card-actions>
        </td>
      </ng-container>

      <!-- Description -->
      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let element"
          [attr.colspan]="displayedColumns.length"
        >
          <div
            class="book__detail"
            [@detailExpand]="
              element == expandedElement ? 'expanded' : 'collapsed'
            "
          >
            <div class="book__presentation">
              <img
                class="book__image"
                mat-card-image
                src="assets/icons/book.svg"
                alt="book"
                height="50"
              />
              <div class="book__title">{{ element.title }}</div>
            </div>
            <div class="book__description">
              {{ element.Description }}
              <span class="book__description-attribution"></span>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: displayedColumns"
        class="book__row"
        [class.expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="book__detail-row"
      ></tr>
    </table>

    <div *ngIf="showSpinner">
      <mat-progress-spinner color="accent" mode="indeterminate">
      </mat-progress-spinner>
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
