<div class="chart__container">
  <h3 class="chart__title">Number of books by year of publication</h3>
  <div *ngIf="barChartData">
    <div style="display: block">
      <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
    <button mat-button mat-raised-button color="primary" (click)="getBooks()">Update</button>
  </div>
</div>
