<h2 mat-dialog-title>Data Book</h2>
<form [formGroup]="bookForm">
  <mat-dialog-content class="mat-typography">
    <div mat-dialog-content>
      <mat-form-field>
        <mat-label>Information</mat-label>
        <input matInput formControlName="Title" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea rows="3" class="description"  matInput formControlName="Description"></textarea>
      </mat-form-field>
      <mat-form-field class="control-width">
        <mat-label>PageCount</mat-label>
        <input matInput formControlName="PageCount" />
      </mat-form-field>
      <app-date-single class="control-width"
        [date]="data.PublishDate"
        (selectDate)="updateDate($event)"
      ></app-date-single>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">No Thanks</button>
      <button mat-button [disabled]="bookForm.invalid" [mat-dialog-close]="bookForm.value" cdkFocusInitial>
        Ok
      </button>
    </div>
  </mat-dialog-content>
</form>
