/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: #fafafa;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  word-break: break-word;
}

ul {
  list-style: none;
}

mat-progress-spinner.mat-progress-spinner {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.mat-app-background {
  min-height: 100%;
}

ngx-daterangepicker-material {
  .md-drppicker {
    background-color: #444;
    border: 1px solid #777;
    .ranges .ng-star-inserted {
      border-color: transparent;
      margin-top: 5px;
      overflow: hidden;
      border-radius: 4px;

      button {
        color: #fff;
        outline: none;
        overflow: hidden;

        &.active {
          background-color: seagreen;
        }

        &:hover {
          background-color: rgb(58, 180, 111);
        }
      }
    }
  }

  .calendar .calendar-table {
    border-color: #777;
    background-color: #555;

    .table-condensed thead th {
      color: #999;
    }

    .active,
    .active:hover {
      background-color: seagreen;

      &.start-date.end-date {
        background-color: greenyellow;
      }
    }

    & .available:hover {
      background-color: rgba(58, 180, 111, 0.5);
    }
  }

  .buttons.ng-star-inserted .btn {
    background-color: seagreen;
  }

  .btn.btn-default.clear.ng-star-inserted {
    display: inline-flex;
    margin-right: 10px;
    margin-top: 5px;

    svg {
      height: 25px;
    }
  }
}
